{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- header -->
  <a href='/signup'>Signup</a>
  <a href='/login'>Login</a>
  {% if user.is_authenticated %}
    Hello, {{ user.get_username }}!
  {% endif %}
  <br>
  <!-- canvas -->
  <div style='background-color: grey; display: inline-flex; margin-top: 3px'>
    <canvas id='canvas' width=800 height=600 style='margin: 3px'>
      <p>Your browser does not support the canvas element.</p>
    </canvas>
  </div>
  <br>
  <!-- controls -->
  <div style='overflow-y: scroll; height: 600px'>
    <div id='app'>
      <div style='float:left; padding-right:2em'>
        <h2>gardens</h2>
        <input v-for='garden in gardens' type='button' :value='garden.name' @click='gardenId = garden.id; gardenDetails()'><br>
        <h3>create</h3>
        <input type='text' v-model='gardenCreateName' placeholder='name'><br>
        <input type='button' value='create' @click='gardenCreate()'>
        <h2>visual</h2>
        <h3>mode</h3>
        <input type='radio' id='select' value='select' v-model='visualMode'><label for='select'>select</label><br>
        <input type='radio' id='create' value='create' v-model='visualMode'><label for='create'>create</label><br>
        <h3>subject</h3>
        <input type='radio' id='reference' value='reference' v-model='visualSubject'><label for='reference'>reference</label><br>
        <input type='radio' id='context'   value='context'   v-model='visualSubject'><label for='context'  >context  </label><br>
        <input type='radio' id='plant'     value='plant'     v-model='visualSubject'><label for='plant'    >plant    </label><br>
        <h2>edit</h2>
        <input type='button' value='delete' @click='editDel()'>
      </div>
      <div style='float:left; padding-right:2em'>
        <h2>references</h2>
        <table v-if='references.length'>
          <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
          </tr>
          <tr v-for='reference in references'>
            <td>v{ reference.name }v (v{ reference.x }v, v{ reference.y }v)</td>
            <td><input type='radio' :value='reference.id' v-model='reference1'></td>
            <td><input type='radio' :value='reference.id' v-model='reference2'></td>
          </tr>
        </table>
        <h3>prefer</h3>
        <input type='radio' id='n' value='n' v-model='referencePrefer'><label for='n'>north</label>
        <input type='radio' id='e' value='e' v-model='referencePrefer'><label for='e'>east </label><br>
        <input type='radio' id='s' value='s' v-model='referencePrefer'><label for='s'>south</label>
        <input type='radio' id='w' value='w' v-model='referencePrefer'><label for='w'>west </label><br>
        <h3>create</h3>
        <input type='text' v-model='referenceCreateName' placeholder='name'><br>
        <input type='number' v-model.number='referenceCreateX'>x<br>
        <input type='number' v-model.number='referenceCreateY'>y<br>
        <input type='button' value='create' @click='referenceCreate()'>
        <h2>location</h2>
        <input type='number' v-model.number='locationD1' placeholder='distance from reference 1'>R1<br>
        <input type='number' v-model.number='locationD2' placeholder='distance from reference 2'>R2<br>
      </div>
      <div style='float:left; padding-right:2em'>
        <h2>plants</h2>
        <input type='text' v-model='plantObserveName' placeholder='name'><br>
        <input type='number' v-model.number='plantObserveX'>x<br>
        <input type='number' v-model.number='plantObserveY'>y<br>
        <input type='button' value='observe' @click='plantObserve()'>
        <h3>icon</h3>
        <select v-model='plantObserveIconParamsSelection'>
          <option v-for='v, k in plantObserveIconParamsOptions'>
            v{ k }v
          </option>
        </select><input type='button' value='apply' @click='iconParamsSelected'><br>
        <input type='text' v-model='plantObserveIconParamsCopyFrom' placeholder='plant name'><input type='button' value='copy' @click='iconParamsCopy'><br>
        <input type='number' v-model.number='plantObserveIconParams.root.seed' @change='iconParamsChanged'>seed<br>
        <div v-for='v, k in plantObserveIconParams'>
          <h4>v{ k }v</h4>
          <input type='number' @change='iconParamsChanged' v-model.number='v.size'>size<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.sizeStep'>size-step<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.sizeVariance'>size-variance<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.segments'>segments<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.split.number'>split-number<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.split.numberVariance'>split-number-variance<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.split.angle.start'>split-angle-start<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.split.angle.step'>split-angle-step<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.split.angle.variance'>split-angle-variance<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.split.angle.toward'>split-angle-toward<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.width'>width<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.corrugation.amplitude'>corrugation-amplitude<br>
          <input type='number' @change='iconParamsChanged' v-model.number='v.corrugation.number'>corrugation-number<br>
          <input type='button' value='add child' @click='iconParamsAddChild(k)'>
          <input type='button' value='remove' @click='iconParamsRemoveChild(k)' v-if='k!="root"'>
        </div>
      </div>
    </div>
    <div style='height: 400px; clear: left'></div>
  </div>
  {% csrf_token %}
  <!-- script -->
  {% if debug %}
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
  {% else %}
    <script src='https://cdn.jsdelivr.net/npm/vue'></script>
  {% endif %}
  <script type='module'>

import * as events from '{% static 'garden_mapper/events.js' %}'
import * as icon from '{% static 'garden_mapper/icon.js' %}'
import * as math from '{% static 'garden_mapper/math.js' %}'

import * as obvious from '{% static 'obvious.js' %}'

const CSRF_TOKEN = document.getElementsByName('csrfmiddlewaretoken')[0].value;
const CANVAS = document.getElementById('canvas');
const CONTEXT = CANVAS.getContext('2d');

var app = new Vue({
  el: '#app',
  delimiters: ['v{', '}v'],
  data: () => ({
    // interface
    gardenCreateName: '',
    gardens: [],
    gardenId: null,
    visualMode: 'select',
    visualSubject: 'plant',
    referenceCreateName: '',
    referenceCreateX: '',
    referenceCreateY: '',
    references: [],
    reference1: null,
    reference2: null,
    referencePrefer: 'n',
    locationD1: '',
    locationD2: '',
    plantObserveName: '',
    plantObserveX: '',
    plantObserveY: '',
    plantObserveIconParamsSelection: '',
    plantObserveIconParamsOptions: icon.iconParams,
    plantObserveIconParamsCopyFrom: '',
    plantObserveIconParams: { root: icon.constructIconParams(true) },
    plants: [],
    // view state
    x: 0,
    y: 0,
    zoom: 1, // zoom = pixels / observation_units
    selected: null,
    // forwarding
    icon,
    math,
    obvious,
    canvas: CANVAS,
  }),
  methods: {
    post(url, body) {
      return fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': CSRF_TOKEN,
        },
        body: JSON.stringify(body),
      });
    },
    plantObservation(plant) {
      return plant.observations[plant.observations.length - 1];
    },
    calculateXY() {
      var r1, r2;
      for (const i of this.references) {
        if (i.id == this.reference1) r1 = { x: i.x, y: i.y };
        if (i.id == this.reference2) r2 = { x: i.x, y: i.y };
      }
      if (!r1 || !r2) {
        alert('references not selected');
        return;
      }
      const { a, b } = math.calculateXY(r1, r2, this.locationD1, this.locationD2);
      // select preferred
      var result;
      if (this.referencePrefer == 'n') result = a.y > b.y ? a : b;
      if (this.referencePrefer == 'e') result = a.x > b.x ? a : b;
      if (this.referencePrefer == 's') result = a.y < b.y ? a : b;
      if (this.referencePrefer == 'w') result = a.x < b.x ? a : b;
      this.referenceCreateX = result.x;
      this.referenceCreateY = result.y;
      this.plantObserveX = result.x;
      this.plantObserveY = result.y;
    },
    render() {
      const selectionPrep = (subject, i) => {
        const isSelected = this.visualSubject == subject && this.selected && this.selected.id == i.id;
        CONTEXT.strokeStyle = isSelected ? 'skyblue' : 'black';
        return isSelected;
      };
      CONTEXT.fillStyle = 'white';
      CONTEXT.fillRect(0, 0, CANVAS.width, CANVAS.height);
      // references
      for (const i of this.references) {
        const { px, py } = math.transformToPixels(this, i);
        selectionPrep('reference', i);
        CONTEXT.beginPath();
        CONTEXT.arc(px, py, 4, 0, 2 * Math.PI);
        CONTEXT.stroke();
      }
      // context
      for (const i of this.context) {
        selectionPrep('context', i);
        switch (i.instructions.op) {
          case 'lines':
            CONTEXT.beginPath();
            var f = CONTEXT.moveTo.bind(CONTEXT);
            for (const j of i.instructions.points){
              const p = math.transformToPixels(this, j);
              f(p.x, p.y);
              f = CONTEXT.lineTo.bind(CONTEXT);
            }
            CONTEXT.stroke();
            break;
        }
      }
      // plants
      for (const i of this.plants) {
        const isSelected = selectionPrep('plant', i);
        var { x, y, icon_params } = this.plantObservation(i);
        if (isSelected)
          icon_params = icon.iconParamsNest(this.plantObserveIconParams);
        const { px, py } = math.transformToPixels(this, {x, y});
        CONTEXT.beginPath();
        CONTEXT.arc(px, py, 4, 0, Math.PI);
        CONTEXT.stroke();
        icon.renderIcon(this, x, y, icon_params);
      }
    },
    onWheel(x, y, dWheel) {
      events.onWheel(this, x, y, dWheel);
    },
    onDrag(touches, dx, dy, dSize, dTheta) {
      events.onDrag(this, touches, dx, dy, dSize, dTheta);
    },
    onTap(id, x, y) {
      events.onTap(this, id, x, y);
    },
    // icon params
    iconParamsAddChild(parent) {
      const child = parent + '.' + Object.keys(this.plantObserveIconParams).length;
      this.$set(this.plantObserveIconParams, child, icon.constructIconParams());
      this.iconParamsChanged();
    },
    iconParamsRemoveChild(k) {
      this.$delete(this.plantObserveIconParams, k);
      this.iconParamsChanged();
    },
    iconParamsChanged() {
      this.render();
    },
    iconParamsSelected() {
      if (this.plantObserveIconParamsSelection == '') return;
      this.plantObserveIconParams = icon.iconParams[this.plantObserveIconParamsSelection];
      this.plantObserveIconParams.root.seed = Math.floor(Math.random() * (1 << 24));
      this.iconParamsChanged();
    },
    iconParamsCopy() {
      for (const i of this.plants)
        if (i.name == this.plantObserveIconParamsCopyFrom) {
          const observation = this.plantObservation(i);
          this.plantObserveIconParams = icon.iconParamsFlatten(observation.icon_params);
          break;
        }
      this.plantObserveIconParams.root.seed = Math.floor(Math.random() * (1 << 24));
      this.iconParamsChanged();
    },
    // API
    async gardenList() {
      this.gardens = await fetch('/garden_retrieve').then(r => r.json()).then(j => j.items);
    },
    gardenCreate() {
      this.post('/garden_create', { name: this.gardenCreateName }).then(this.gardenList);
    },
    async gardenDetails() {
      const { references, context, plants } = await fetch(`/garden_details?id=${this.gardenId}`).then(r => r.json());
      this.references = references;
      this.context = context;
      this.plants = plants.filter((i) => {
        if (i.observations.length) return true;
        this.post('/plant_delete', { id: i.id });
        return false;
      });
      if (references.length || plants.length) {
        // get extent of garden
        var entities = references;
        for (const plant of plants) entities = entities.concat(plant.observations);
        var xi, yi, xf, yf;
        for (const i of entities) {
          if (xi == undefined || i.x < xi) xi = i.x;
          if (yi == undefined || i.y < yi) yi = i.y;
          if (xf == undefined || i.x > xf) xf = i.x;
          if (yf == undefined || i.y > yf) yf = i.y;
        }
        // center and zoom
        this.x = (xi + xf) / 2;
        this.y = (yi + yf) / 2;
        this.zoom = Math.min(CANVAS.width / (xf - xi), CANVAS.height / (yf - yi)) * 0.8;
        if (this.zoom == 0 || this.zoom == Infinity) this.zoom = 1;
      }
      // render
      this.render();
    },
    editDel() {
      var url;
      var id = this.selected.id;
      switch (this.visualSubject) {
        case 'reference':
          url = '/reference_delete';
          break;
        case 'context':
          url = '/context_delete';
          break;
        case 'plant':
          url = '/observation_delete';
          id = this.plantObservation(this.selected.plant).id;
          this.selected = null;
          break;
      }
      this.post(url, { id }).then(this.gardenDetails);
    },
    referenceCreate() {
      this.post('/reference_create', {
        garden: this.gardenId,
        name: this.referenceCreateName,
        x: this.referenceCreateX,
        y: this.referenceCreateY,
      }).then(this.gardenDetails);
    },
    async plantObserve() {
      // gather observation from user
      var location;
      if (this.plantObserveX !== '' && this.plantObserveY !== '')
        location = { x: this.plantObserveX, y: this.plantObserveY };
      var iconParams = icon.iconParamsNest(this.plantObserveIconParams);
      // ensure plant exists
      var plantId = null;
      if (this.visualSubject == 'plant' && this.selected)
        plantId = this.selected.id;
      if (!plantId) plantId = await this.post('/plant_create', {
        garden: this.gardenId,
        name: this.plantObserveName,
      }).then(r => r.json()).then(j => j.id);
      // observe
      await this.post('/observation_create', {
        plant: plantId,
        x: location.x,
        y: location.y,
        notes: '',
        icon_params: JSON.stringify(iconParams),
        gone: false,
      });
      this.selected = null;
      // update
      this.gardenDetails();
    },
  },
  watch: {
    referencePrefer() {
      this.calculateXY();
    },
    locationD1() {
      this.calculateXY();
    },
    locationD2() {
      this.calculateXY();
    },
    selected() {
      this.render();
    },
    visualSubject() {
      this.render();
    },
  },
  mounted() {
    this.gardenList();
  },
});

obvious.listenToTouches(CANVAS, {
  onWheel: app.onWheel,
  onDrag: app.onDrag,
  onTap: app.onTap,
});

CONTEXT.fillStyle = 'white';
CONTEXT.fillRect(0, 0, CANVAS.width, CANVAS.height);

window.refs = {
  CONTEXT,
  CANVAS,
  app,
};
window.exportIconParams = () => JSON.stringify(app.plantObserveIconParams);

  </script>
{% endblock %}
